.field-list{
	list-style: none;
	margin: 0;
    padding: 0;
}

.field-list > li {
	margin: 0.5rem 0;
	padding: 0.75rem 0;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
	position: relative;
}

.field-list > li:hover, .field-list > li.hover{
	background-color: #f7f7f7;
}
.field-list > li.active:hover, .field-list > li.active.hover {
	background-color: #fff;
}

.field-list > li.active {
	padding-top: 2.6rem;
}


.field-list > li p {
	margin: 0;
	width:auto;
}

.field-list > li.active p {
	margin-bottom: 1rem;
}

.form-builder{
	color: #595959;
}

.form-builder li.active [class^="col-"], .form-builder li.active [class*=" col-"] {
  margin-bottom: 0.7rem;
}

.form-builder input[type="radio"] {
	display: none;
}

.form-builder input[type="radio"] + label {
	border: 1px solid #c1c1c1;
    padding: 0px 10px;
    border-radius: 4px;
}

.form-builder input[type="radio"]:checked + label {
	border-color: #7cb0ff;
    background-color: #7cb0ff;
}

/* .form-builder label{
	display: block;
	margin-bottom: 2px;
} */

.form-builder button,
.form-builder input[type="text"],
.form-builder input[type="email"],
.form-builder optgroup,
.form-builder select,
.form-builder textarea {
	width: 100%;
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    border-radius: 4px;
	border: 1px solid #ccc;
    box-sizing: border-box;
    position: initial;
	color: #595959;
}

.form-builder button {
	width:auto;
}

.field-list p.actions {
	position: absolute;
	top: 16px;
	right: 5px;
}

.field-list p.actions .icon-font{
	font-size: 16px;
}

.actions span {
	cursor: pointer;
}

.actions .delete {
	color: red;
}

.field-list p.field-name {
	cursor: pointer;
}

.tab-container {
    /* max-width: 620px; */
    /* min-width: 420px; */
    margin: 40px auto;
    color: #888;
}

/* Style the tabs */
.tabs {
    overflow: hidden;
    margin-bottom: -2px; // hide bottom border
}

.tabs ul {
    list-style-type: none;
    margin-left: 20px;
}

.tabs a{
    float: left;
    cursor: pointer;
    padding: 12px 24px;
    transition: background-color 0.2s;
    border: 1px solid #ccc;
    border-right: none;
    background-color: #f1f1f1;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}
.tabs a:last-child {
    border-right: 1px solid #ccc;
}

/* Change background color of tabs on hover */
.tabs a:hover {
    background-color: #aaa;
    color: #fff;
}

/* Styling for active tab */
.tabs a.active {
    background-color: #fff;
    color: #484848;
    border-bottom: 2px solid #fff;
    cursor: default;
}

/* Style the tab content */
.tabcontent {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
  box-shadow: 3px 3px 6px #e1e1e1
}

.contact-form{
	color: #595959;
}
.contact-form p{
	width: 100%;
}
.contact-form label{
	display: block;
	margin-bottom: 2px;
}

.contact-form button,
.contact-form input[type="text"],
.contact-form input[type="textarea"],
.contact-form input[type="email"],
.contact-form optgroup,
.contact-form select,
.contact-form textarea {
	width: 100%;
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    border-radius: 4px;
	border: 1px solid #ccc;
    box-sizing: border-box;
    position: initial;
	color: #595959;
}

.contact-form input[type="checkbox"]+ label{
	width:auto;
	display:inline;
}

.contact-form button{
	width:auto;
}

.contact-form .active{
	position:relative;
}

.contact-form .active:after {
	content: '';
	position: absolute;
	top: -10px;
	left: -15px;
	right: -15px;
	bottom: -10px;
	border: red 1px dashed;
	border-radius: 5px;
}

.contact-form .hover{
	position:relative;
}

.contact-form .hover:after {
	content: '';
	position: absolute;
	top: -10px;
	left: -15px;
	right: -15px;
	bottom: -10px;
	border: rgba(0, 231, 255, 1) 1px dashed;
	background-color: rgba(0, 231, 255, 0.2);
	border-radius: 5px;
}

.contact-form .hover.active:after {
	border: red 1px dashed;
	background-color: rgba(255, 255, 255, 0);
}

#html-data pre {
    color: #b9b9b9;
    background-color: #1d1d1d;
}
