<html>
   <head>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <link href="css/prism.css" rel="stylesheet" />
   </head>
      <body>


<div id="app">

  <h1>Vue JS Multiple Fields Repeater</h1>
  <ul class="border" v-for="(field, index) in fields">
	<li>
    <input v-model="field.name" placeholder="Field Name" @change="UpdateHTMLData">
    <input v-model="field.label" placeholder="label" @change="UpdateHTMLData">
    <select v-model="field.type" @change="UpdateHTMLData">
	  <option value="text-field">Text</option>
	  <option value="email-field">Email</option>
	  <option value="textarea-field">Textarea</option>
	  <option value="select-field">Select</option>
	  <option value="radio-field">Radio</option>
	  <option value="checkbox-field">Checkbox</option>
	</select>


	<div v-if="field.type === 'select-field'">
		<p>Options</p>
			<ul>
				<li class="border" v-for="(option, opt_index) in field.options" >
					<input v-model="field.options[opt_index].value" placeholder="Option Value" @change="UpdateHTMLData">
					<input v-model="field.options[opt_index].text" placeholder="Option text" @change="UpdateHTMLData">
				</li>
			</ul>
			<button @click="NewSelectOption(index)">New Option</button>
	</div>

	<div v-else-if="field.type === 'input-radio'">
	  Something else was selected.
	</div>


	</li>
  </ul>
  <button @click="AddField">
    New Field
  </button>




    <div id="render-form" ref="formdata" v-model="html" v-cloak>
        <component
                 v-for="field in fields"
                 :key="field.name"
                 :is="field.type"
                 v-bind="field">
        </component>
    </div>

<div id="html-data">
    <pre><code class="language-html">{{ $data['html'] }}</code></pre>
</div>

<pre>{{ $data['fields'] | json }}</pre>



</div>


   </body>
   <script type="text/javascript" src="js/main.js"></script>
   <!-- <script type="text/javascript" src="js/prism.js"></script> -->

</html>
